{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig" data-title="{% if wp_title %}
            {{ wp_title }}
        {% else %}
            {{ site.name }}
        {% endif %}">
<header class="site-header" id="masthead">
    {% block header %}
        <div class="inner">
            <span class="company-logo" role="banner">
                <a href="{{site.url}}" rel="home">
                    <img class="hero-icon" src="{{site.theme.link}}/img/icon.png"/>{{site.name}}
                </a>
            </span>
            {% include 'menu.twig' with {
                'menu' : primaryNavigation,
                'navigation': 'nav-primary'
            } %}
        </div>
    {% endblock %}
</header>

{% if ('single' in body_class) %}
    <main id="content">
    {% else %}
        <main>
        {% endif %}

        {% block content %}
            Sorry, no content
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}
</body>
</html>